body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 0px;
    background-color: #222e50;
    color: white;
}

.field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid;
    background-color: #fcd0a1;
    background-size: cover;
}

.board {
    display: grid;
    grid-template:  repeat(3, minmax(1rem, 15vh)) / repeat(3, minmax(1rem, 15vh));
    color: black;
}